* {
    text-align: center;
}

.container {
    margin-top: 10px;
}

.input_space {
    width: 40%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

input {
    height: 20px;
    width: 20%;
    font-size: 18px;
}

button {
    height: 30px;
    width: 15%;
    background-color: grey;
    border: none;
}

.logout {
    margin-right: 5px;
    color: white;
    font-weight: 400;
}

.delete {
    margin-right: 5px;
    color: white;
    background-color: rgb(19, 103, 142);
    font-weight: 400;
}

.gender {
    width: 30px;
    margin-bottom: 20px;
}

.error-message {
    visibility: hidden;
    color: red;
    white-space: pre-line;
    border: 2px;
    border-color: red;
}